:root {
	// h1 medium
	--font-size-h1-m: 56px;
	--font-weight-h1-m: 700;
	--line-height-h1-m: 150%;
	--letter-spacing-h1-m: 0.03em;
	--text-transform-h1-m: uppercase;

	// h1 small
	--font-size-h1-s: 48px;
	--font-weight-h1-s: 400;
	--line-height-h1-s: normal;
	--letter-spacing-h1-s: normal;
	--text-transform-h1-s: none;

	// h2 medium
	--font-size-h2-m: 48px;
	--font-weight-h2-m: 700;
	--line-height-h2-m: 150%;
	--letter-spacing-h2-m: 0.03em;
	--text-transform-h2-m: uppercase;

	// h2 small
	--font-size-h2-s: 38px;
	--font-weight-h2-s: 400;
	--line-height-h2-s: normal;
	--letter-spacing-h2-s: normal;
	--text-transform-h2-s: none;

	// h3 medium
	--font-size-h3-m: 36px;
	--font-weight-h3-m: 700;
	--line-height-h3-m: 150%;
	--letter-spacing-h3-m: normal;
	--text-transform-h3-m: none;

	// h3 small
	--font-size-h3-s: 28px;
	--font-weight-h3-s: 700;
	--line-height-h3-s: normal;
	--letter-spacing-h3-s: normal;
	--text-transform-h3-s: none;

	// h4 medium
	--font-size-h4-m: 24px;
	--font-weight-h4-m: 700;
	--line-height-h4-m: 150%;
	--letter-spacing-h4-m: normal;
	--text-transform-h4-m: none;

	// h4 small
	--font-size-h4-s: 18px;
	--font-weight-h4-s: 400;
	--line-height-h4-s: normal;
	--letter-spacing-h4-s: normal;
	--text-transform-h4-s: none;

	// h5 medium
	--font-size-h5-m: 16px;
	--font-weight-h5-m: 700;
	--line-height-h5-m: 155%;
	--letter-spacing-h5-m: normal;
	--text-transform-h5-m: none;

	// h5 small
	--font-size-h5-s: 14px;
	--font-weight-h5-s: 400;
	--line-height-h5-s: normal;
	--letter-spacing-h5-s: normal;
	--text-transform-h5-s: none;

	// h6 medium
	--font-size-h6-m: 14px;
	--font-weight-h6-m: 700;
	--line-height-h6-m: 155%;
	--letter-spacing-h6-m: normal;
	--text-transform-h6-m: none;

	// h6 small
	--font-size-h6-s: 12px;
	--font-weight-h6-s: 400;
	--line-height-h6-s: normal;
	--letter-spacing-h6-s: normal;
	--text-transform-h6-s: none;

	// p1 medium
	--font-size-p1-m: 20px;
	--font-weight-p1-m: 400;
	--line-height-p1-m: 155%;
	--letter-spacing-p1-m: normal;
	--text-transform-p1-m: none;

	// p1 small
	--font-size-p1-s: 16px;
	--font-weight-p1-s: 400;
	--line-height-p1-s: normal;
	--letter-spacing-p1-s: normal;
	--text-transform-p1-s: none;

	// p2 medium
	--font-size-p2-m: 16px;
	--font-weight-p2-m: 400;
	--line-height-p2-m: 155%;
	--letter-spacing-p2-m: normal;
	--text-transform-p2-m: none;

	// p2 small
	--font-size-p2-s: 14px;
	--font-weight-p2-s: 400;
	--line-height-p2-s: normal;
	--letter-spacing-p2-s: normal;
	--text-transform-p2-s: none;

	// p3 medium
	--font-size-p3-m: 14px;
	--font-weight-p3-m: 400;
	--line-height-p3-m: 155%;
	--letter-spacing-p3-m: normal;
	--text-transform-p3-m: none;

	// p3 small
	--font-size-p3-s: 12px;
	--font-weight-p3-s: 400;
	--line-height-p3-s: normal;
	--letter-spacing-p3-s: normal;
	--text-transform-p3-s: none;

	// p4 medium
	--font-size-p4-m: 12px;
	--font-weight-p4-m: 400;
	--line-height-p4-m: 155%;
	--letter-spacing-p4-m: normal;
	--text-transform-p4-m: none;

	// p4 small
	--font-size-p4-s: 10px;
	--font-weight-p4-s: 400;
	--line-height-p4-s: normal;
	--letter-spacing-p4-s: normal;
	--text-transform-p4-s: none;

	// label medium
	--font-size-label-m: 18px;
	--font-weight-label-m: 700;
	--line-height-label-m: 150%;
	--letter-spacing-label-m: 0.03em;
	--text-transform-label-m: uppercase;

	// label small
	--font-size-label-s: 16px;
	--font-weight-label-s: 400;
	--line-height-label-s: normal;
	--letter-spacing-label-s: normal;
	--text-transform-label-s: none;
}
