@import 'app/styles/variables/text';

.filters {
	display: none;

	@media screen and (width >= 1024px) {
		display: flex;
		gap: 8px;
		align-items: center;
		margin-left: auto;
	}
}

.filter {
	@include label;

	display: flex;
	gap: 8px;
	align-items: center;

	color: var(--transparent);
	white-space: nowrap;

	transition: color 0.3s linear;
}

.label {
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	transition: color 0.3s;

	&:hover {
		color: var(--text);
	}
}

.activeFilter {
	.label {
		color: var(--primary);

		&:hover {
			color: var(--primary);
		}
	}
}
