.themeBtn {
	cursor: pointer;

	display: flex;

	padding: 8px;

	color: var(--transparent);

	background-color: var(--transparent-soft-rv);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 12px;
	box-shadow: 0 0 4px 0 var(--transparent-soft);

	transition:
		background-color 0.3s linear,
		color 0.3s linear,
		box-shadow 0.3s linear;

	&:hover {
		color: var(--text);
		box-shadow: 0 0 4px 0 var(--transparent);
	}
}

.icon {
	font-size: 24px;
}
