.header {
	position: fixed;
	z-index: 1;
	right: 0;

	width: calc(100% - var(--sidebar-width-close));
	height: 60px;

	background-color: var(--bg);
	border-bottom: 1px solid var(--separator);

	transition:
		width 0.2s linear,
		background-color 0.3s linear,
		border-color 0.3s linear;
}

.small {
	width: calc(100% - var(--sidebar-width-open));
}
